---
title: こんにちは
schema_org:
  '@type': WebPage
---
<header>
 <h1><%= image_tag "hello.jpg", width: 800, height: 180, alt: 'こんにちは' %></h1>
</header>

<p>
 こんにちは。昨日はもりそばを食べました。
 明日はかけそばを食べたいです。
</p>
<p>6df47e289c84236cb0369a4418595a78</p>
