---
title: こんにちは
schema_org:
  '@type': WebPage
---
<header>
 <h1><%= image_tag "hello.jpg", width: 800, height: 180, alt: 'こんにちは' %></h1>
</header>

<p>
 こんにちは。昨日はもりそばを食べました。
 明日はかけそばを食べたいです。
</p>
<p>6df47e289c84236cb0369a4418595a78</p>

<section>
 <h2><code>amp-analytics</code> で Google Analytics を使うには</h2>
 <p><code>head</code> にこれを書く</p>
 <pre><code>&lt;script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js">&lt;/script></code></pre>
 <p><code>body</code> にこれを書く</p>
 <pre><code>&lt;amp-analytics type="googleanalytics" id="あなたのID">&lt;/amp-analytics></code></pre>
 <p>参考: <a href="https://developers.google.com/analytics/devguides/collection/amp-analytics/">Adding Analytics to your AMP pages  |  Analytics for AMP Pages  |  Google Developers</a></p>
</section>

<ul>
 <li><%= link_to 'amp-youtube', 'articles/amp-youtube.html' %></li>
</ul>
